@{
    ViewBag.Title = "Pedidos";
}

<h3 class="tituloPagina" style="margin-bottom: 75px;">¿En qué te podemos ayudar?</h3>

<!--OPCIONES-->
<div class="row">
    <div class="col-sm-6" style="margin:5px 0px;">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="subtituloPagina">¡Quiero ser delivery!</h5>
                <p class="card-text">¿Sos delivery? ¿Necesitás un ingreso extra? Cualquiera sea el motivo, postúlate como delivery ya mismo.</p>
                <a href="/Pedidos/Pedidos" class="btn btn-outline-secondary btn-lg fontBtn">Ver pedidos cercanos</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin:5px 0px;">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="subtituloPagina">¡Necesito un delivery!</h5>
                <p class="card-text">¿Compraste comida pero no tenés como buscarla?  No te preocupes, ahora mismo podrás encontrar tu delivery.</p>
                <a href="/Pedidos/Create" class="btn btn-outline-secondary btn-lg fontBtn">Publicar pedido</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $.notify("@ViewBag.Message");
            });
        </script>    
    }
}