@using Datos
@model List<Pedidos>

@{
    ViewBag.Title = "Mis Pedidos";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="grillaPedidosCliente">
    @Html.Partial("_PedidosClienteGrilla", Model)
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $.notify("@ViewBag.Message");
            });
        </script>
    }
    @*<script type="text/javascript">
            $(document).ready(function () {
            });
        </script>*@
}