
@{
    ViewBag.Title = "DenunciaEnviada";
}

<div class="alert alert-success">
    <strong>Denuncia enviada!</strong> Los administradores la revisaran en breve
</div>

<a href="/Home/Index" class="btn" role="button">Volver</a>

